version: '3.8'

services:
  mongodb:
    image: mongo:7
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password

  backend:
    build: ./backend
    ports:
      - "5100:5000"
    environment:
      MONGO_USERNAME: admin
      MONGO_PASSWORD: password
      MONGO_HOST: mongodb
      MONGO_PORT: 27017
      MONGO_DATABASE: petshelter
    depends_on:
      - mongodb

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    environment:
      BACKEND_URL: http://backend:5000
    depends_on:
      - backend
